In [1]:
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import california_housing
import pandas as pd
import numpy as np

c:\users\balde\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\deprecation.py:144: FutureWarning: The sklearn.datasets.california_housing module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.datasets. Anything that cannot be imported from sklearn.datasets is now part of the private API.
  warnings.warn(message, FutureWarning)

In [3]:
features = california_housing.fetch_california_housing().get('data')

In [4]:
pd.DataFrame(features).head()

        0     1         2         3       4         5      6       7
0  8.3252  41.0  6.984127  1.023810   322.0  2.555556  37.88 -122.23
1  8.3014  21.0  6.238137  0.971880  2401.0  2.109842  37.86 -122.22
2  7.2574  52.0  8.288136  1.073446   496.0  2.802260  37.85 -122.24
3  5.6431  52.0  5.817352  1.073059   558.0  2.547945  37.85 -122.25
4  3.8462  52.0  6.281853  1.081081   565.0  2.181467  37.85 -122.25

# Standard Scaler

In [2]:
ex = StandardScaler()

In [6]:
features_transformed = ex.fit_transform(features)

In [5]:
pd.DataFrame(features_transformed).head()

,0,1,2,3,4,5,6,7
0,2.344766,0.982143,0.628559,-0.153758,-0.974429,-0.049597,1.052548,-1.327835
1,2.332238,-0.607019,0.327041,-0.263336,0.861439,-0.092512,1.043185,-1.322844
2,1.782699,1.856182,1.155620,-0.049016,-0.820777,-0.025843,1.038503,-1.332827
3,0.932968,1.856182,0.156966,-0.049833,-0.766028,-0.050329,1.038503,-1.337818
4,-0.012881,1.856182,0.344711,-0.032906,-0.759847,-0.085616,1.038503,-1.337818

In [7]:
round(features_transformed.mean())

-0.0

In [8]:
features.mean()

172.9556735813799

In [9]:
round(features_transformed.std())

1.0

In [10]:
features.std()

621.6720986716564

# Normalization

In [11]:
from sklearn.preprocessing import Normalizer

In [12]:
norm = Normalizer()

In [13]:
features_normalized = norm.fit_transform(features)

In [14]:
pd.DataFrame(features_normalized).head()

,0,1,2,3,4,5,6,7
0,0.023848,0.117447,0.020007,0.002933,0.922391,0.007321,0.108510,-0.350136
1,0.003452,0.008734,0.002594,0.000404,0.998535,0.000877,0.015745,-0.050829
2,0.014092,0.100971,0.016093,0.002084,0.963106,0.005441,0.073495,-0.237359
3,0.009816,0.090449,0.010119,0.001866,0.970590,0.004432,0.065837,-0.212643
4,0.006612,0.089394,0.010799,0.001859,0.971303,0.003750,0.065069,-0.210162

In [16]:
features_normalized.mean()

0.11677915010332501

In [20]:
features_normalized.std()

0.3337103985511166